‣䱔⁓灁潰湩浴湥⁴桃捥敫⁲‭楗摮睯⁳灁汰捩瑡潩⁮敒畱物浥湥獴਍਍‣䥕䘠慲敭潷歲⠠牣獯⵳汰瑡潦浲›楗摮睯ⱳ䄠摮潲摩‬佩ⱓ圠扥ഩ昊敬㹴〽㈮⸳രഊ⌊匠汥湥畩⁭…牂睯敳⁲畁潴慭楴湯਍敳敬楮浵㴾⸴㔱〮਍敳敬楮浵慢敳㴾⸴〲〮਍湵敤整瑣摥挭牨浯摥楲敶㹲㌽㔮㐮਍敷摢楲敶⵲慭慮敧㹲㐽〮ㄮ਍਍‣慄慴慢敳਍煳慬捬敨祭㴾⸲⸰㌲਍਍‣敓畣楲祴☠䄠瑵敨瑮捩瑡潩൮戊牣灹㹴㐽ㄮ㈮਍牣灹潴牧灡票㴾ㄴ〮㜮਍祰睪㹴㈽㠮〮਍਍‣浅楡⁬…潎楴楦慣楴湯൳瀊祬牥㴾⸲⸱‰⌠䌠潲獳瀭慬晴牯⁭潮楴楦慣楴湯൳ഊ⌊䌠湯楦畧慲楴湯☠䔠癮物湯敭瑮਍祰桴湯搭瑯湥㹶ㄽ〮〮਍਍‣敓癲牥⠠潭楮潴楲杮獟牥敶⹲祰ഩ昊慬歳㴾⸳⸰ര昊慬歳挭牯㹳㐽〮〮਍਍‣瑕汩瑩敩൳爊煥敵瑳㹳㈽㌮⸱ര瀊汩潬㹷ㄽ⸰⸱രഊ⌊䄠摵潩䌠偁䍔䅈猠汯楶杮਍灓敥档敒潣湧瑩潩㹮㌽ㄮ⸰ര瀊摹扵㴾⸰㔲ㄮ਍浩条楥ⵯ晦灭来㴾⸰⸵റഊ⌊䈠潲獷牥映湩敧灲楲瑮猠整污桴਍敳敬楮浵猭整污桴㴾⸱⸰ശഊ甊摮瑥捥整ⵤ档潲敭牤癩牥㴽⸳⸵വ瀊礀猀琀爀愀礀㸀㴀　⸀㄀㤀⸀㌀ഀ਀
pystray>=0.19.3
pillow>=10.1.0
